@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .form-input {
        @apply border-b w-full outline-none placeholder:text-[0.95rem] py-1;
    }
    .form-error {
        @apply text-[0.8rem] text-red-500 mt-2;
    }
}