@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #18181A;
    --foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    .bg-color {
        @apply bg-[#18181A]
    }

    .primary-color {
        @apply bg-[#2a2a2b]
    }

    .text-green {
        @apply text-[#20cf89]
    }

    .bg-green {
        @apply bg-[#20cf89]
    }

    .exp {
        @apply bg-[#ffffff0e]
    }
}