@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .nav-subtext {
        @apply px-3 py-2 w-full transition-all duration-300 hover:bg-gray-100 rounded-md text-[0.9rem]
    }

    .container {
        @apply max-w-[1300px] mx-auto px-5 xl:px-0
    }

    .container-md {
        @apply max-w-[1200px] mx-auto px-5 xl:px-0
    }

    .container-lg {
        @apply max-w-[1100px] mx-auto px-5 xl:px-0
    }

    .container-sm {
        @apply max-w-[700px] mx-auto
    }

    .dropdown-text {
        @apply py-3 px-3 w-full text-start transition-all duration-300 hover:bg-gray-100 rounded-md cursor-pointer
    }

    .blog-text {
        @apply font-bold text-[0.9rem]
    }

    .blog-input {
        @apply border px-3 py-2 rounded-md w-full
    }

    .form-error {
        @apply text-[0.8rem] text-red-500 mt-2;
    }
}

@layer components {
    .credential-btn {
        @apply rounded-md border px-2 py-2 text-[0.95rem] flex flex-row items-center justify-center gap-2 w-full
    }

    .nav-btn {
        @apply px-2 py-1 rounded-md gap-1 hover:bg-gray-100 hover:transition-all hover:duration-300 cursor-pointer text-[0.95rem] font-[500]
    }
}
