@import "tailwindcss";

:root {
    --background: #fff;
    --foreground: #000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .container-width {
        @apply max-w-[1150px] mx-auto px-6 xl:px-0;
    }

    .nav-link {
        @apply relative inline-block after:absolute after:bottom-[-6px] after:left-0 after:h-[0.13rem] after:bg-[#FF4A17] after:w-0 after:transition-all after:duration-200 hover:after:w-full whitespace-nowrap;
    }

    .client-img {
        @apply filter grayscale opacity-[0.5] transition-all duration-200 hover:grayscale-0 hover:opacity-100;
    }
}