@import "tailwindcss";

:root {
    --background: #fff;
    --foreground: #000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .container-width {
        @apply max-w-[1150px] mx-auto px-6 xl:px-0;
    }

    .nav-link {
        @apply relative inline-block after:absolute after:bottom-[-6px] after:left-0 after:h-[0.13rem] after:bg-[#FF4A17] after:w-0 after:transition-all after:duration-200 hover:after:w-full whitespace-nowrap;
    }

    .client-img {
        @apply filter grayscale opacity-[0.5] transition-all duration-200 hover:grayscale-0 hover:opacity-100;
    }

    .subtitle-text {
        @apply relative inline-block uppercase text-gray-500 tracking-wider after:absolute after:h-[0.1rem] after:w-[120px] after:bg-[#FF4A17] after:ml-3 after:my-3;
    }

    .title-text {
        @apply lg:text-4xl md:text-3xl text-2xl leading-9 font-extrabold text-[#273D4E];
    }

    .team-text {
        @apply relative font-bold text-base pb-[10px] mb-[10px] after:absolute after:bottom-0 after:left-0 after:w-[50px] after:h-[1px] after:bg-gray-300 after:block;
    }

    .service-card {
        @apply relative py-[50px] px-[30px] text-center rounded-lg mt-[-100px] mx-[30px];
    }

    .service-icon {
        @apply h-[72px] w-[72px] bg-[#FF4A17] rounded-full text-white border-[6px] border-white absolute top-[-36px] left-[calc(50%-36px)] flex items-center justify-center;
    }

    .input-text {
        @apply outline-none text-sm border border-gray-300 py-[10px] px-[15px] w-full focus:border-[#FF4A17];
    }
}